/* Styles for posts app. */

.list-section {
  margin-top: 5em;
}

.profile-img-post {
  width: 70px;
  height: 70px;
}

.post-created {
  display: grid;
  grid-column: 1/5;
}

.row-inp-comment {
  display: grid;
  grid-template-columns: 80% 20%;
}

.comment-container {
  display: grid;
  grid-column: 1/5;
}

.fs-comment {
  font-size: 1.2rem;
  inline-size: 40%;
  overflow-wrap: break-word;
}

.profile-img-comment {
  width: 70px;
  height: 70px;
}

.scale-down {
  object-fit: scale-down;
}

.img-post {
  max-height: 600px;
  object-fit: scale-down;
}

.icon-size-post {
  font-size: 1.5em;
  padding: 0;
}

.icon-size-post:hover {
  cursor: pointer;
  opacity: 0.8;
}

.input-cmt {
  font-size: 1rem;
  outline: none;
}

.feedback {
  display: grid;
  justify-content: flex-end;
  justify-items: end;
  grid-template-columns: 2em 2em 2em 2em;

  margin-top: 0.5em;
}

.go-to-profile:hover {
  cursor: pointer;
  opacity: 0.8;
}


/* Post options */
.head-post-container{
  
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 30% 55%;
}

.profile-name-container{
  display: grid;
  align-items: center;
}

.profile-img-post-container{
  display: grid;
  align-items: center;
}

.option-container{
  display: grid;
  position: relative;
  justify-content: end;
  padding: 5px;
}


.options{

  text-align: end;
  height: 1.5em;
  width: 1.5em;
  border: none;
  background-color: transparent;
}
.options:hover{
  cursor: pointer;
  opacity: 0.7;
}

.options-square{

  display: none;

  width: 150px;
  position: absolute;
  left: 320px;
  top: 30px;

}

.post-menu-options{
  
  list-style: none;
  padding: 10px;
  border-radius: 4%;
  background-color: #fff;
  box-shadow: 10px 5px 30px -15px
}

.li-post-menu-option{

  display: grid;
  grid-template-columns: 60% 10%;
  align-items: center;

  padding: 5px;
  border-radius: 4%;
}

.li-post-menu-option:hover{

  cursor: pointer;
  opacity: 0.7;
  background-color: #0d6efd;
}

.hidden{

  display: grid;
}