/* Styles to login view */

.logo {
  display: grid;
  grid-auto-flow: column;

  width: 90%;
  margin: auto;
  justify-content: center;
}

.logo h1 {
  font-size: 3em;
}

.logo img {
  width: 4.5em;
  height: 4.5em;
}

.login {
  width: 90%;
  margin: 10% auto;
}

.container-form {
  display: grid;

  width: 60%;
  margin: 1em auto;

  justify-self: center;
}

.container-form label,
input {
  margin-top: 5px;
  font-size: 20px;
}

.container-form input {
  padding: 5px;
  outline: none;
}

.container-button-send {
  display: grid;
  justify-content: flex-end;

  margin-top: 1em;
}
.botton-send {
  text-align: center;
  padding: 0.7em 5em;
  font-size: 15px;

  border: 1px solid;
  border-radius: 3px;
}

.dont-account:hover {
  cursor: pointer;
  color: #81a7cc;
}

.botton-send:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 17px;
}

#labels-login-username {
  font-size: 1rem;
}
#labels-login-password {
  font-size: 1rem;
}

.inputs-login {
  font-size: 1rem;
}
